<section id="already-booked" class="bg-black/20 fixed top-0 flex justify-center items-center w-[100%] h-[100%]">
    <section class="bg-[#FFFBF3] p-6 rounded-lg w-100 shadow">
        <p class="font-semibold text-xl">Sorry,</p>
        <section class="my-3">
            <p class="text-sm text-gray-600">It seems like someone has already reserved this car.</p>
            <p class="text-sm text-gray-600">You can find similar one <a href="" class="underline font-semibold text-black ">here</a></p>
        </section>
        <app-button label="Ok" (clicked)="closePopup()"></app-button>
    </section>
</section>
