<app-header></app-header>
<section class="px-4 md:px-8 w-fit">
    <section>
        <span class="text-xs text-gray-500">Cars > Car Booking</span>
        <h1 class="text-5xl font-semibold my-5">Car Booking</h1>
    </section>
    
    <section class="flex flex-col md:flex-row w-fit">
        <section class="w-86 md:w-100">
            <app-personal-info [user]="user"></app-personal-info>
            <app-location (selectedlocations)="selectedLocationIds($event)"></app-location>
            <app-dates [dateTime]="dateTime" (pickerOpen)="pickerStatus($event)"></app-dates>
        </section>
        <app-car-summary (alreadybooked)="bookStatus($event)" [car]="carDetails" [dateTime]="dateTime" [locationids]="locationids"></app-car-summary>
    </section>
    <section *ngIf="isPickupVisible" class="p-2 rounded-lg bg-white w-fit absolute top-50">
        <app-date-time-picker (dateRangeSelected)="selectedDates($event)" (closed)="pickerStatus($event)"></app-date-time-picker>
        <section class="flex items-center justify-center my-6">
            <section class="w-50 mx-5">
              <app-button label="Cancel" type="secondary" (click)="isPickupVisible=false"></app-button>
            </section>
            <section class="w-50 mx-5">
              <app-button label="Done" (click)="isPickupVisible=false"></app-button>
            </section>
          </section>
    </section>
</section>
@if(alreadybooked){
  <app-already-booked (bookStatus)="bookStatus($event)"></app-already-booked>
}
<app-footer></app-footer>